## Imports

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType, DateType
from pprint import pprint

## Variables

In [2]:
path = f'../data/raw/loans_raw.csv'

## Spark Session

In [3]:
spark = SparkSession.builder.appName('Loans').getOrCreate()

## Spark functions

In [4]:
def drop_na_cols(data, pct):
    rows = data.count()
    null_counts = data.select(
        [F.count(
            F.when(
                F.isnull(col), col)
        ).alias(col) for col in data.columns]
    )
    
    null_counts = null_counts.toPandas()
    null_counts = (null_counts/rows).ge(pct).all()
    null_cols = null_counts[null_counts == True].keys()
    
    
    
    return data.select([col for col in data.columns if col not in null_cols])

def lower_case_cols(data):
    data_dtypes = {col[0]: col[1] for col in data.dtypes}
    
    for column in data_dtypes.keys():
        if data_dtypes[column] == 'string':
            data = data.withColumn(column, F.lower(F.col(column)))
    
    return data
    
def remove_whitespace(data):
    data_dtypes = {col[0]: col[1] for col in data.dtypes}
    
    for column in data_dtypes.keys():
        if data_dtypes[column] == 'string':
            data = data.withColumn(column, F.lower(F.col(column)))
        
    return data

def make_col_numeric(data, column):
    return data.withColumn(column, data[column].cast(IntegerType()))

def truncate_credit_line(data, column):
    return data.withColumn(column, F.split(F.col(column), '-')[1])

def categorise_employment_length(data, spark_session):
    name = 'df_el'
    data.createTempView(name)
    
    data = spark_session.sql(
    f"""
    
    select
    account_id,
    installment,
    loan_amount,
    interest_rate,
    term,
    purpose,
    issue_date,
    title,
    home_ownership,
    annual_income,

    case when employment_length in ('10+ years') then '10plus'
    when employment_length in ('< 1 year') then 'less1'
    when employment_length in ('1 year', '2 years', '3 years') then '1to3'
    when employment_length in ('4 years', '5 years', '6 years') then '4to6'
    when employment_length in ('7 years', '8 years', '9 years') then '7to9'
    else null
    end as employment_length,

    job_title,
    earliest_credit_line,
    public_records,
    delinquency_2y,
    inquiries_6m,
    open_accounts,
    debt_to_income,
    credit_card_usage,
    credit_card_balance,
    total_current_balance,
    nr_accounts,
    loan_status,
    amount_payed,
    year,
    district,
    postcode_district,
    credit_score

    from {name}
    """
    )
    
    return data

def categorise_home_ownership(data, spark):
    name = 'df_ho'
    data.createTempView(name)
    
    data = spark.sql(
    f"""
    select
    account_id,
    installment,
    loan_amount,
    interest_rate,
    term,
    purpose,
    issue_date,
    title,
    
    case when home_ownership in ('mortgage', 'rent', 'own') then home_ownership
    else 'other'
    end as home_ownership,
    
    annual_income,
    employment_length,
    job_title,
    earliest_credit_line,
    public_records,
    delinquency_2y,
    inquiries_6m,
    open_accounts,
    debt_to_income,
    credit_card_usage,
    credit_card_balance,
    total_current_balance,
    nr_accounts,
    loan_status,
    amount_payed,
    year,
    district,
    postcode_district,
    credit_score
    
    
    from {name}
    """
    )
    
    return data

def categorise_inquiry(data, spark):
    name = 'df_inq'
    data.createTempView(name)
    
    data = spark.sql(f"""
    select
    
    account_id,
    installment,
    loan_amount,
    interest_rate,
    term,
    purpose,
    issue_date,
    title,
    home_ownership,
    annual_income,
    employment_length,
    job_title,
    earliest_credit_line,
    public_records,
    delinquency_2y,
    
    case when inquiries_6m = 0 then 'no_inquiry'
    when inquiries_6m = 1 then '1_inquiry'
    else '2plus_inquiry'
    end as inquiries_6m,
    
    open_accounts,
    debt_to_income,
    credit_card_usage,
    credit_card_balance,
    total_current_balance,
    nr_accounts,
    loan_status,
    amount_payed,
    year,
    district,
    postcode_district,
    credit_score
    
    from {name}
    """
    )
    return data

def categorise_purpose(data, spark):
    name = 'df_purpose'
    data.createTempView(name)
    
    data = spark.sql(f"""
    select
    
    account_id,
    installment,
    loan_amount,
    interest_rate,
    term,
    
    case when purpose in ('debt_consolidation', 'credit_card') then purpose
    else 'other'
    end as purpose,
    
    issue_date,
    title,
    home_ownership,
    annual_income,
    employment_length,
    job_title,
    earliest_credit_line,
    public_records,
    delinquency_2y,
    inquiries_6m,
    open_accounts,
    debt_to_income,
    credit_card_usage,
    credit_card_balance,
    total_current_balance,
    nr_accounts,
    loan_status,
    amount_payed,
    year,
    district,
    postcode_district,
    credit_score
    
    from {name}    
    """
    )
    
    return data

## Read data

In [5]:
data = spark.read.csv(
    path,
    inferSchema=True,
    header=True
)

In [6]:
data.printSchema()

root
 |-- account_id: integer (nullable = true)
 |-- installment: double (nullable = true)
 |-- loan_amount: double (nullable = true)
 |-- interest_rate: double (nullable = true)
 |-- term: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- issue_date: string (nullable = true)
 |-- description: string (nullable = true)
 |-- title: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: string (nullable = true)
 |-- employment_length: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- earliest_credit_line: string (nullable = true)
 |-- public_records: string (nullable = true)
 |-- last_record_months: string (nullable = true)
 |-- last_delinquency_months: string (nullable = true)
 |-- last_derog_months: string (nullable = true)
 |-- delinquency_2y: string (nullable = true)
 |-- inquiries_6m: string (nullable = true)
 |-- open_accounts: string (nullable = true)
 |-- debt_to_income: string (nullable = true)
 |-- credit_card_usage: string (nullable = true)
 |-- credit_card_balance: string (nullable = true)
 |-- total_current_balance: string (nullable = true)
 |-- nr_accounts: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- amount_payed: string (nullable = true)
 |-- year: string (nullable = true)
 |-- district: string (nullable = true)
 |-- postcode_district: string (nullable = true)
 |-- credit_score: string (nullable = true)

## Data Cleansing

In [7]:
data = drop_na_cols(data=data, pct=0.5)

In [8]:
data.dtypes

[('account_id', 'int'),
 ('installment', 'double'),
 ('loan_amount', 'double'),
 ('interest_rate', 'double'),
 ('term', 'string'),
 ('purpose', 'string'),
 ('issue_date', 'string'),
 ('title', 'string'),
 ('home_ownership', 'string'),
 ('annual_income', 'string'),
 ('employment_length', 'string'),
 ('job_title', 'string'),
 ('earliest_credit_line', 'string'),
 ('public_records', 'string'),
 ('delinquency_2y', 'string'),
 ('inquiries_6m', 'string'),
 ('open_accounts', 'string'),
 ('debt_to_income', 'string'),
 ('credit_card_usage', 'string'),
 ('credit_card_balance', 'string'),
 ('total_current_balance', 'string'),
 ('nr_accounts', 'string'),
 ('loan_status', 'string'),
 ('amount_payed', 'string'),
 ('year', 'string'),
 ('district', 'string'),
 ('postcode_district', 'string'),
 ('credit_score', 'string')]

In [9]:
data = lower_case_cols(data)

In [10]:
data.dtypes

[('account_id', 'int'),
 ('installment', 'double'),
 ('loan_amount', 'double'),
 ('interest_rate', 'double'),
 ('term', 'string'),
 ('purpose', 'string'),
 ('issue_date', 'string'),
 ('title', 'string'),
 ('home_ownership', 'string'),
 ('annual_income', 'string'),
 ('employment_length', 'string'),
 ('job_title', 'string'),
 ('earliest_credit_line', 'string'),
 ('public_records', 'string'),
 ('delinquency_2y', 'string'),
 ('inquiries_6m', 'string'),
 ('open_accounts', 'string'),
 ('debt_to_income', 'string'),
 ('credit_card_usage', 'string'),
 ('credit_card_balance', 'string'),
 ('total_current_balance', 'string'),
 ('nr_accounts', 'string'),
 ('loan_status', 'string'),
 ('amount_payed', 'string'),
 ('year', 'string'),
 ('district', 'string'),
 ('postcode_district', 'string'),
 ('credit_score', 'string')]

In [11]:
data = remove_whitespace(data)

In [12]:
data.dtypes

[('account_id', 'int'),
 ('installment', 'double'),
 ('loan_amount', 'double'),
 ('interest_rate', 'double'),
 ('term', 'string'),
 ('purpose', 'string'),
 ('issue_date', 'string'),
 ('title', 'string'),
 ('home_ownership', 'string'),
 ('annual_income', 'string'),
 ('employment_length', 'string'),
 ('job_title', 'string'),
 ('earliest_credit_line', 'string'),
 ('public_records', 'string'),
 ('delinquency_2y', 'string'),
 ('inquiries_6m', 'string'),
 ('open_accounts', 'string'),
 ('debt_to_income', 'string'),
 ('credit_card_usage', 'string'),
 ('credit_card_balance', 'string'),
 ('total_current_balance', 'string'),
 ('nr_accounts', 'string'),
 ('loan_status', 'string'),
 ('amount_payed', 'string'),
 ('year', 'string'),
 ('district', 'string'),
 ('postcode_district', 'string'),
 ('credit_score', 'string')]

In [13]:
data = make_col_numeric(data, 'credit_score')

In [14]:
data = make_col_numeric(data, 'annual_income')

In [15]:
data = truncate_credit_line(data, 'earliest_credit_line')

In [16]:
data = categorise_employment_length(data, spark)

In [17]:
data = categorise_home_ownership(data, spark)

In [18]:
data = categorise_inquiry(data, spark)

In [19]:
data = categorise_purpose(data, spark)

In [20]:
data.show()

+----------+-----------+-----------+-------------+----------+------------------+----------+--------------------+--------------+-------------+-----------------+--------------------+--------------------+--------------+--------------+-------------+-------------+--------------+-----------------+-------------------+---------------------+-----------+-----------+-------------+----+--------------------+-----------------+------------+
|account_id|installment|loan_amount|interest_rate|      term|           purpose|issue_date|               title|home_ownership|annual_income|employment_length|           job_title|earliest_credit_line|public_records|delinquency_2y| inquiries_6m|open_accounts|debt_to_income|credit_card_usage|credit_card_balance|total_current_balance|nr_accounts|loan_status| amount_payed|year|            district|postcode_district|credit_score|
+----------+-----------+-----------+-------------+----------+------------------+----------+--------------------+--------------+-------------+-----------------+--------------------+--------------------+--------------+--------------+-------------+-------------+--------------+-----------------+-------------------+---------------------+-----------+-----------+-------------+----+--------------------+-----------------+------------+
|    125968|      829.1|    25000.0|        11.89| 36 months|debt_consolidation|  aug-2009|debt consolidatio...|          rent|        85000|            less1|                null|                1994|           0.0|           0.0|   no_inquiry|         10.0|         19.48|             52.1|            28854.0|                 null|       42.0| fully paid|     29324.32|2009|           liverpool|              l69|         710|
|    128479|       40.5|     1200.0|        13.11| 36 months|debt_consolidation|  mar-2010|               zxcvb|           own|        54000|           10plus|city of beaumont ...|                1985|           0.0|           0.0|   no_inquiry|          5.0|          5.47|             40.4|             2584.0|                 null|       31.0| fully paid|      1457.31|2010|           redbridge|              ig9|         416|
|    128650|     366.86|    10800.0|        13.57| 36 months|debt_consolidation|  nov-2009|       nicolechr1978|          rent|        32000|             4to6|state farm insurance|                1996|           0.0|           0.0|    1_inquiry|         14.0|         11.63|             25.6|             3511.0|                 null|       40.0| fully paid|     13195.27|2009|               rugby|             cv21|         354|
|    129758|     264.11|     7200.0|        19.05| 36 months|debt_consolidation|  aug-2012|           caminijio|          rent|        58000|             7to9|           arkwright|                1994|           0.0|           0.0|   no_inquiry|          6.0|          2.05|             90.1|             3874.0|             154930.0|       25.0| fully paid|9100.80466265|2012|        west lindsey|             dn21|         697|
|    130240|     102.92|     3000.0|        14.26| 36 months|       credit_card|  sep-2009|rejecting new car...|      mortgage|        80800|             1to3|                null|                1998|           0.0|           1.0|   no_inquiry|         13.0|         14.97|             39.5|             4740.0|                 null|       23.0| fully paid|      3703.38|2009|    south derbyshire|             de11|         799|
|    132624|     125.13|     4000.0|         7.88| 36 months|       credit_card|  feb-2010|         ilikehorses|      mortgage|       148000|            less1|                null|                1993|           0.0|           0.0|   no_inquiry|         11.0|         16.98|             51.0|            50807.0|                 null|       19.0| fully paid|      4451.17|2010|          manchester|              m21|          96|
|    132653|     194.02|     5600.0|        14.96| 36 months|debt_consolidation|  feb-2010|           athomas74|          rent|        45000|             1to3|pension benefit g...|                2001|           1.0|           0.0|   no_inquiry|          5.0|           4.0|             76.8|             3839.0|                 null|        9.0|charged off|       6474.6|2010|        amber valley|              de5|         570|
|    133336|     103.08|     3200.0|         9.88| 36 months|debt_consolidation|  apr-2010|      greekgodadonis|          rent|        54000|             4to6|rockwell automati...|                2006|           0.0|           0.0|   no_inquiry|          7.0|          6.51|             51.1|             3198.0|                 null|       11.0| fully paid|      3413.92|2010|               wigan|              wn2|         577|
|    136660|     131.22|     4000.0|        11.14| 36 months|             other|  aug-2009|                 djp|      mortgage|        60000|            less1|    infotrieve, inc.|                1995|           0.0|           0.0|   no_inquiry|         14.0|         11.08|             68.6|            24220.0|                 null|       33.0|charged off|       2755.2|2009|               conwy|             ll32|         352|
|    137665|      84.12|     2525.0|        12.21| 36 months|debt_consolidation|  feb-2009|credit card conso...|          rent|        27000|             1to3|video monitoring ...|                2001|           0.0|           0.0|    1_inquiry|          5.0|          10.0|             23.0|             5630.0|                 null|        8.0| fully paid|      3027.47|2009|          new forest|             bh25|         534|
|    138177|      61.57|     2800.0|        11.49| 60 months|debt_consolidation|  aug-2010|         mark's loan|          rent|        24000|            less1|     the coggins co.|                2000|           1.0|           0.0|   no_inquiry|          7.0|           4.0|             19.5|             2183.0|                 null|       23.0| fully paid|      3140.84|2010|             wrexham|             ll13|         747|
|    138737|     316.11|    10000.0|         8.59| 36 months|debt_consolidation|  oct-2009|       lukeanthony85|      mortgage|        56000|             1to3|         genesys pho|                1991|           0.0|           0.0|   no_inquiry|          7.0|         15.49|             16.7|             6068.0|                 null|       49.0| fully paid|     11280.04|2009|           wiltshire|              sp3|         999|
|    139397|      92.82|     3000.0|         7.14| 36 months|             other|  feb-2010|     raising capital|      mortgage|       100000|             7to9|    matrix resources|                1998|           0.0|           1.0|   no_inquiry|         14.0|           6.5|              4.8|             3021.0|                 null|       25.0| fully paid|      3341.09|2010|folkestone and hythe|             ct21|         621|
|    140235|     476.58|    15000.0|         8.94| 36 months|       credit_card|  sep-2009|      revolving debt|      mortgage|       110000|            less1|                null|                1991|           0.0|           0.0|    1_inquiry|          6.0|          7.07|             52.7|             7586.0|                 null|       19.0| fully paid|     17130.65|2009|              merton|             sw19|         731|
|    140784|      268.4|    11200.0|        15.33| 60 months|debt_consolidation|  may-2010|        helioscantra|          rent|        46000|             1to3|witron intergrate...|                2005|           0.0|           0.0|    1_inquiry|          7.0|         17.19|             69.2|             7248.0|                 null|       11.0| fully paid|15896.0477614|2010|          warrington|              wa5|         665|
|    141224|     484.85|    15500.0|         7.88| 36 months|       credit_card|  feb-2010|debt consolidatio...|          rent|       125000|            less1|diageo north america|                1994|           0.0|           0.0|    1_inquiry|          8.0|          7.05|             34.6|            16931.0|                 null|       21.0| fully paid|     17436.05|2010|            worthing|             bn13|         574|
|    141234|      122.4|     4000.0|         6.39| 36 months|             other|  apr-2015|    home improvement|      mortgage|        91000|           10plus| supervisor engineer|                1999|           0.0|           2.0|   no_inquiry|         24.0|          14.7|             79.3|            10313.0|             161124.0|       36.0| fully paid|      4135.68|2015|       cheshire east|             wa16|         542|
|    362041|     525.17|    15000.0|         15.7| 36 months|debt_consolidation|  feb-2010|  debt consolodation|          rent|        84996|            less1|                null|                1995|           0.0|           0.0|    1_inquiry|         16.0|         20.44|             56.7|            28511.0|                 null|       32.0| fully paid|      17709.2|2010|     epsom and ewell|             kt17|         631|
|    367971|     311.02|    10000.0|         7.49| 36 months|             other|  may-2011|credit card refin...|      mortgage|        42000|             1to3|           wackenhut|                1991|           0.0|           0.0|   no_inquiry|          4.0|          0.71|              1.0|               84.0|                 null|       18.0| fully paid|11178.5017532|2011|           sheffield|               s6|         378|
|    418516|     327.79|    10950.0|        25.99| 60 months|debt_consolidation|  jan-2015|credit card/auto ...|          rent|        40000|             1to3| route sales manager|                2006|           0.0|           1.0|2plus_inquiry|         27.0|         28.14|             20.3|             3568.0|              99863.0|       36.0| fully paid|     11005.34|2015|    south derbyshire|             de11|         518|
+----------+-----------+-----------+-------------+----------+------------------+----------+--------------------+--------------+-------------+-----------------+--------------------+--------------------+--------------+--------------+-------------+-------------+--------------+-----------------+-------------------+---------------------+-----------+-----------+-------------+----+--------------------+-----------------+------------+
only showing top 20 rows